* {
    box-sizing: border-box;
}
header {
    font-size: 50px;
    color: white;
    padding-top: 5px;
}
hr {
    height: 4px;
    background-color: white;
}
#map,
.mymap {
    height: 88%;
    width: 100%;
    padding-top: 20px;
}
html,
body {
    height: 100%;
    margin: 2px;
    padding: 5px;
    color: black;
    border-radius: 10px;
    background: #00796B;
}
.searchme {
    color: white;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}
#search,
#resetme {
    padding: 5px;
}
.list {
    color: white;
    font-size: 18px;
}
.list-content {
    padding-bottom: 15px;
}
.mobile-nav {
    width: 60%;
}
.mobile-nav {
    width: 100%;
}
.menu-btn div {
    position: absolute;
    left: 100%;
    top: 64%;
    padding-right: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 99;
}
.menu-btn span {
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px 0;
    background: rgb(0, 0, 0);
    z-index: 99;
}
.responsive-menu {
    display: none;
}
.expand {
    display: block !important;
}
@media only screen and (max-width: 800px) {
    #map,
    .mymap {
        position: absolute;
        width: 94%;
        padding-top: 30px;
    }
    .mobile-nav {
        width: 100%;
    }
    .menu-btn div {
        position: absolute;
        left: 100%;
        top: 64%;
        padding-right: 8px;
        margin-top: -0.50em;
        line-height: 1.2;
        font-size: 18px;
        font-weight: 200;
        vertical-align: middle;
        z-index: 99;
    }
    .menu-btn span {
        display: block;
        width: 19px;
        height: 3px;
        margin: 4px 0;
        background: rgb(0, 0, 0);
        z-index: 99;
    }
    .responsive-menu {
        display: none;
    }
    .expand {
        display: block !important;
    }
}